.orange{
    background-color: orange;
}
.blue{
    background-color: blue;

}
.red{
    background-color: rgb(207, 179, 87);
}
.purple{
    background-color: rgb(129, 91, 129);
}
.bold{
    font-weight: bold;
}